---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ToolsGrid from '../components/ToolsGrid.astro';
import HowIWork from '../components/HowIWork.astro';
import Footer from '../components/Footer.astro';
// import TestimonialsGrid from '../components/TestimonialsGrid.svelte';
import ProjectsShowcase from '../components/ProjectsShowcase.svelte';
import ContactForm from '../components/ContactForm.svelte';
---

<Layout title="Portfolio v2 - Jhon Alvin Cafe">
	<Header />

	<div class="container max-w-container mx-auto px-5 pt-[120px] pb-5">
		<Hero />
		<ToolsGrid />
		<HowIWork />
		<!-- <TestimonialsGrid client:visible /> -->
		<ProjectsShowcase client:idle />
		<ContactForm client:visible />
	</div>

	<Footer />
</Layout>