---
import ToolsItem from '../components/ToolsItem.svelte';
---

<section class="tools text-center py-[80px]">
    <h2 class="text-[42px] font-bold mb-4">Essential Tools</h2>
    <p class="tools-label text-text-light text-lg mb-10">Tools which I use on a daily basis.</p>
    
    <div class="tools-grid flex flex-col justify-center items-center gap-[30px] mx-auto max-w-[900px] md:flex-row md:flex-wrap lg:flex-nowrap">

        <ToolsItem />

    </div>
</section>

